
<body class="menu">
  <div class="w-50 p-3">
    <h1>Menu de Reclusos</h1>
    <p></p>
    <p></p>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/recluso/alta-recluso" class="link-offset-2 link-underline link-underline-opacity-0">Nuevo Recluso</a>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/recluso/buscar-recluso" class="link-offset-2 link-underline link-underline-opacity-0">Buscar Recluso</a>
    </div>

      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="menu/recluso/liberar-recluso" class="link-offset-2 link-underline link-underline-opacity-0">Reclusos a liberar</a>
      </div>
       
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="usuario/menu" class="link-offset-2 link-underline link-underline-opacity-0">Retorno al Menu de Principal</a>
      </div>
  <p></p>
  <p></p>

    
  

