<head>
  <link rel="stylesheet" href="menu-recluso.component.css">
</head>

<body>

  <center>
    <t><h2>Menu de Reclusos</h2></t>
  </center>

  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/recluso/alta-recluso">Nuevo Recluso</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/recluso/buscar-recluso">Buscar Recluso</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/recluso/modificar-condena">Modificar condena de recluso</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/recluso/Mover-Recluso">Mover Recluso</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>

  <center>
    <div>
      <a href="usuario/menu">Retorno al Menu de Usuario</a>
    </div>
  </center>
</body>
