
<body>

  
    <h2>Menu de Reclusos</h2>
  

  
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/recluso/alta-recluso">Nuevo Recluso</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/recluso/buscar-recluso">Buscar Recluso</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/recluso/liberar-recluso">Reclusos a liberar</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
    <div>
      <a href="usuario/menu">Retorno al Menu de Usuario</a>
    </div>
  
</body>
