
<body class="listado"> 
  <div class="w-50 p-3">
    <a class="icon-link icon-link-hover" href="menu/sentencia">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <p></p>
    <h1>Mostrar sentencias</h1>
    <p></p>
    
    <ul>
      @for (item of service.sentencia.data; track $index) {
        <ul class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">
            <h4>
              CODIGO DE SENTENCIA: {{item.cod_sentencia}}<br>
              NOMBRE: {{item.nombre}} <br>
              DESCRIPCION: {{item.descripcion}}<br>
              DURACION EN AÑOS: {{item.duracion_anios}}<br>
              ORDEN DE GRAVEDAD: {{item.orden_de_gravedad}}<br>
            </h4>
            </li>
        </ul>
        <p></p>
      }
    </ul> 
  </div>  
</body>
