
<body class="listado"> 
  <div class="w-50 p-3">
    <a class="icon-link icon-link-hover" href="menu/sentencia">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <p></p>
    <h2>Mostrar sentencias</h2>
    <p></p>
    
    <ul>
      @for (item of service.sentencia; track $index) {
        <ul class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">
            <p>
              nombre: {{item.nombre}} <br>
              descripcion: {{item.descripcion}}<br>
              duracion_anios {{item.duracion_anios}}<br>
              orden_de_gravedad: {{item.orden_de_gravedad}}<br>
            </p>
            </li>
        </ul>
      }
    </ul> 
  </div>  
</body>
