
<body>
    <h2>Mostrar Sentencias</h2>
    <button (click)="buscarSentencias()">buscar sentencias</button>
  
  
    <ul>
      @for (item of service.sentencia; track $index) {
      <li>
        <p>{{item.username}}</p>
      </li>
      }
    </ul>
  
  
    <div>
      <input type="text" [(ngModel)]="id" (click)="validarband()">
      <button (click)="buscarUnaSentencia(id)" [disabled]="ban">Buscar</button>
      <p>{{uno.name}}</p>
    </div>
  
  
    <div>
      <nav><a href="menu/sentencia">Retorno al Menu de Sentencias</a></nav>
    </div>
  
</body>
