
<body class="listado">
  <div class="w-50 p-3">

    <a class="icon-link icon-link-hover" href="menu/actividad">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <h2>Mostrar actividades</h2>
    <p></p>
  
    @for (item of service.actividades; track $index) {
      <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">
          <p>
            descripcion: {{item.title}} <br>
            locacion: {{item}}<br>
            dia de la semana {{item}}<br>
            hora: {{item.id}}<br>
            codigo: {{item.userId}}<br>
            estado: {{item.completed}}<br></p>
        </li>
      </ul>
    }
  </div>

 
</body>

