<head>
  <link rel="stylesheet" href="mostrar-actividad.component.css">
</head>

<body>
  <div>
    <center>
      <h2>
        Actividades Encontradas
      </h2>
    </center>
  </div>
  <div>
    @for (item of service.actividades; track $index) {
    <li>
      <p>descripcion: {{item.title}} <br>locacion: {{item}}<br>dia de la semana {{item}}<br>hora: {{item.id}}<br>codigo: {{item.userId}}<br>estado: {{item.completed}}<br></p>
    </li>

    }
  </div>

  <div>
    <center>
      <p></p>
      <a href="menu/actividad">Retorno al Menu de Actividades</a>
      <p></p>
    </center>
  </div>
</body>
