<head>
  <link rel="stylesheet" href="menu-taller.component.css">
</head>

<body class="menu">
  <div class="w-50 p-3">
    <h1>Menu de Talleres</h1>
    <p></p>
    <p></p>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/taller/alta-taller" class="link-offset-2 link-underline link-underline-opacity-0">Dar de alta un taller</a>
    </div>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/taller/inscripcion-taller" class="link-offset-2 link-underline link-underline-opacity-0">Inscripcion a un taller</a>
    </div>

      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="menu/taller/modificar-taller" class="link-offset-2 link-underline link-underline-opacity-0">Modificar un taller</a>
      </div>

      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="menu/taller/mostrar-taller" class="link-offset-2 link-underline link-underline-opacity-0">Mostrar todos los talleres</a>
      </div>
       
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="usuario/menu" class="link-offset-2 link-underline link-underline-opacity-0">Retorno al Menu de Principal</a>
      </div>
  <p></p>
  <p></p>

   



