<head>
  <link rel="stylesheet" href="menu-taller.component.css">
</head>

<body>
  <center>
    <t><h2>Menu de Talleres</h2></t>
  </center>

  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/taller/alta-taller">Dar de alta un taller</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/taller/inscripcion-taller">Inscripcion a un taller</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/taller/modificar-taller">Modificar un taller</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/taller/mostrar-taller">Mostrar todos los talleres</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>

  <center>
    <div>
      <nav>
        <p></p>
        <a href="usuario/menu">Retorno al Menu de Usuario</a>
        <p></p>
      </nav>
    </div>
  </center>

</body>
