<head>
  <link rel="stylesheet" href="menu-taller.component.css">
</head>

<body>
 
    <h2>Menu de Talleres</h2>
  

  <div>
   
      <p>
        ·
      </p>
   
  </div>
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/taller/alta-taller">Dar de alta un taller</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
   
  </div>
  <div>
    
      <p>
        <a href="menu/taller/inscripcion-taller">Inscripcion a un taller</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/taller/modificar-taller">Modificar un taller</a>
      </p>
    
  </div>
  <div>
   
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/taller/mostrar-taller">Mostrar todos los talleres</a>
      </p>
    
  </div>
  <div>
   
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    
  </div>
  <div>
    
      <p>
        ·
      </p>
  
  </div>

 
    <div>
      <nav>
        <p></p>
        <a href="usuario/menu">Retorno al Menu de Usuario</a>
        <p></p>
      </nav>
    </div>


</body>
