
<div>
    <p></p>
    <nav>
        <a href="usuario/menu-maestro/menu">ATRAS</a>
    </nav>
    <p></p>
</div>
<div>
    @for (item of service.ilegales.data; track $index) {
        <li>
            <p>nombre:{{item.nombre}}<br>descripcion: {{item.descripcion}} <br>locacion: {{item.locacion}}<br>dia de la semana: {{item.dia_de_la_semana}}<br>hora de inicio: {{item.hora_inicio}}<br>hora de fin: {{item.hora_fin}}<br>cantidad maxima: {{item.cantidad_maxima}}</p>
           <button (click)="modificarIlegal(item)">modificar</button>
        </li>
        @if (item.inscripcion) {
            <form [formGroup]="ilegal" (submit)="enviarModificacion(item)">
                <fieldset>
                    <label>nombre de la actividad :</label>
                    <input type="text" formControlName="nombre" >      
                </fieldset>
                <fieldset>
                    <label>descipcion de la actividad:</label>
                    <input type="text" formControlName="decripcion" >      
                </fieldset>
                <fieldset>
                    <label>locacion:</label>
                    <input type="text" formControlName="locacion" >      
                </fieldset>
                <fieldset>
                    <label>hora fin:</label>
                    <input type="text" formControlName="hora_fin" >      
                </fieldset>
                <fieldset>
                    <label>dia de la semana:</label>
                    <input type="text" formControlName="dia_de_la_semana" >      
                </fieldset>
                <fieldset>
                    <label>hora inicio</label>
                    <input type="text" formControlName="hora_inicio" >      
                </fieldset>
                <fieldset>
                    <label>cantidad minima</label>
                    <input type="text" formControlName="cantMin" >      
                </fieldset>
                <fieldset>
                    <label>cantidad maxima</label>
                    <input type="text" formControlName="cantMax" >      
                </fieldset>
                <fieldset>
                    <label>dar de baja actividad </label>
                    <input type="checkbox" formControlName="estado" >      
                </fieldset>
                <button>enviar cambios</button>
            </form>
            @if(bandera=='modificado'){
                <p></p>
                <p>la actividad fue modificada</p>
                <p></p>
            }
            @if(bandera == 'no encontrado'){
                <p></p>
                <p>la actividad no fue encontrada</p>
                <p></p>
            }
            @if(bandera == 'imposible'){
                <p></p>
                <p>la actividad no puede ser modificada </p>
                <p></p>
            }
        }
    }
</div>