
<body class="listadoi">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover" href="usuario/menu-maestro/menu">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
    
        <div>
            @for (item of service.ilegales.data; track $index) {
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">nombre:{{item.nombre}}</li>
                    <li class="list-group-item">descripcion: {{item.descripcion}} </li>
                    <li class="list-group-item">diaDeLaSemana: {{item.diaDeLaSemana}} </li>
                    <li class="list-group-item">horaInicio: {{item.horaInicio}} </li>
                    <li class="list-group-item">horaFin: {{item.horaFin}} </li>
                    <li class="list-group-item">estado: {{item.estado}} </li>
                    <li class="list-group-item">cantidad_maxima: {{item.cantidad_maxima}} </li>
                    <li class="list-group-item">locacion: {{item.locacion}}</li>
                    <button (click)="modificarIlegal(item)">modificar</button>
                </ul>
                @if (item.inscripcion) {
                    <form [formGroup]="ilegal" (submit)="enviarModificacion(item)">
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">nombre</span>
                                <input type="text" formControlName="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </fieldset>
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">descipcion</span>
                                <input type="text" formControlName="descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>     
                        </fieldset>
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">locacion</span>
                                <input type="text" formControlName="locacion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>      
                        </fieldset>
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">dia de la semana</span>
                                <input type="text" formControlName="diaDeLaSemana" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>     
                        </fieldset>
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">Cantidad Maxima</span>
                                <input type="text" formControlName="cantidad_maxima" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>     
                        </fieldset>
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">horario de inicio</span>
                                <input type="text" formControlName="horaInicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>     
                        </fieldset>
                        <fieldset>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="inputGroup-sizing-default">horario de fin</span>
                                <input type="text" formControlName="horaFin" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                            </div>     
                        </fieldset>
                        
                        <button [disabled]="ilegal.invalid" type="button" class="btn btn-dark">enviar</button>
                    </form>
                    @if(bandera=='modificado'){
                        <div class="alert alert-success" role="alert">
                            <p>la actividad fue modificada</p>
                        </div>
                    }
                    @if(bandera == 'no encontrado'){
                        <div class="alert alert-warning" role="alert">
                            <p>la actividad no fue encontrada</p>
                        </div>
                    }
                    @if(bandera == 'imposible'){
                        <div class="alert alert-dark" role="alert">
                            <p>la actividad no puede ser modificada </p>
                        </div>
                    }
                }
            }
        </div>
    </div>
</body>
