<head>
  <link rel="stylesheet" href="alta-actividad.component.css">
</head>

<body>
  <div>
    <div>
      <h2>Nueva Actividad</h2>
    </div>
    <div>
      <form [formGroup]="actividad" (submit)="validarActividad()">
        <fieldset>
          <label>descipcion de la actividad:</label>
          <input type="text" formControlName="decripcion">
        </fieldset>
        <fieldset>
          <label>locacion:</label>
          <input type="text" formControlName="locacion">
        </fieldset>
        <fieldset>
          <label>hora:</label>
          <input type="text" formControlName="hora">
        </fieldset>
        <fieldset>
          <label>dia de la semana:</label>
          <input type="text" formControlName="diaDeLaSemana">
        </fieldset>
        <fieldset>
          <label>Cupo de Participantes</label>
          <input type="text" formControlName="cantMax">
        </fieldset>
        <fieldset>
          <label>Edad Minima</label>
          <input type="text" formControlName="edadMin">
        </fieldset>
        <button>Enviar</button>
      </form>
      <div>
        <p></p>
        
          <a href="menu/actividad">Retorno al Menu de Actividades</a>
        
        <p></p>
      </div>
    </div>
  </div>
  <div>
    @if (bandActividad === true) {
    <div>
      <p>datos enviados con exito </p>
    </div>
    }@else if (bandActividad === false) {
    <p>actividad ya existente </p>
    }
  </div>
</body>

