<head>
  <link rel="stylesheet" href="alta-taller.component.css">
</head>

<body>
  
    
      <h2>Alta Taller</h2>
    
  

  <div>
    <form [formGroup]="taller" (submit)="validarTaller()">
      <fieldset>
        
          <label>Nombre:</label>
          <input type="text" formControlName="nombre">
        
      </fieldset>
      <fieldset>
        
          <label>Descipcion:</label>
          <input type="text" formControlName="descripcion">
        
      </fieldset>
      <fieldset>
        
          <label>Locacion:</label>
          <input type="text" formControlName="locacion">
        
      </fieldset>
      <fieldset>
        
          <label>Hora de finalizacion:</label>
          <input type="text" formControlName="horaFin">
        
      </fieldset>
      <fieldset>
        
          <label>Dia de la semana:</label>
          <input type="text" formControlName="diaDeLaSemana">
        
      </fieldset>
      <fieldset>
        
          <label>Hora de inicio</label>
          <input type="text" formControlName="horaInicio">
        
      </fieldset>
      <button>ENVIAR ACTIVIDAD</button>
    </form>
  </div>
    <div>
      @if (bandTaller== true) {
        <p> taller guardado con exito </p>
      }
      @if (bandTaller== false) {
        <p>taller no guardado, interferencia con el horario y el dia </p>
      }
    </div>  
    <div>
      <p></p>
      <a href="menu/taller">Retorno al Menu de Talleres</a>
      <p></p>
    </div>
  

</body>
