<head>
  <link rel="stylesheet" href="mod-sentencia.component.css">
</head>

<body>
  
    <h2>Modificacion de Sentencia</h2>
  
  
    <p>ingrese la/las caracteristicas a modificar</p>
  

  <form [formGroup]="sActual" (submit)="verFomrulario()">
    <fieldset>
      
        <label>"Codigo de sentencia"</label>
        <input type="text" formControlName="cod_sentencia">
      
      
        @if (cod_sentencia.invalid && cod_sentencia.touched) {
        <h2 class="form-error">el codigo es requerido</h2>
        }
      
    </fieldset>
    <fieldset>
      
        <label>Cantidad de condenas</label>
        <input type="text" formControlName="cantidad_cond">
      
    </fieldset>
    <fieldset>
      
        <label>Descripcion</label>
        <input type="text" formControlName="descripcion">
      
    </fieldset>
    <fieldset>
      
        <label>Duracion</label>
        <input type="text" formControlName="duracion">
      
    </fieldset>
    <fieldset>
      
        <label>Dia de la fecha</label>
        <input type="text" formControlName="fecha_dia">
      
    </fieldset>
    <fieldset>
      
        <label>Mes de la fecha</label>
        <input type="text" formControlName="fecha_mes">
      
    </fieldset>
    <fieldset>
      
        <label>Anio de la fecha</label>
        <input type="text" formControlName="fecha_año">
      
    </fieldset>
    <button [disabled]="sActual.invalid">Enviar modificacion</button>
  </form>

  
    <div>
      <nav><a href="menu/sentencia">Retorno al Menu de Sentencia</a></nav>
    </div>
  
</body>
