
<h1>ingrese el ususario para ingresar</h1>
<form [formGroup]="usuario" (submit)="cargarUsuarios()"   >
    <fieldset>
        <label> id : </label>
        <input type="text" formControlName="id" > 
        @if (id.invalid && id.touched) {
            <h2 class="form-error">el codigo es requerido</h2>
        }
    </fieldset>
    <fieldset>
        <label>ingresar el tipo: </label>
        <input type="text" formControlName="tipo" >    
        @if (tipo.invalid && tipo.touched) {
            <h2 class="form-error">el tipo es requerido</h2>
        }    
    </fieldset>
    <fieldset>
        <label> nombre:</label>
        <input type="text" formControlName="nombre" >
        @if (nombre.invalid && nombre.touched) {
            <h2 class="form-error">el nombre es requerido</h2>
        }        
    </fieldset>
    <button [disabled]="usuario.invalid" [routerLink]="bandera" >enviar datos</button>
</form>

