<head>
  <link rel="stylesheet" href="log-in.component.css">
</head>

<body>
  <center>
    <t><h2>Ingreso</h2></t>
  </center>

  <form [formGroup]="usuario" (submit)="validarUsuarios()">
    <fieldset>
      <center>
        <label>Codigo: </label>
        <input type="text" formControlName="id">
      </center>
    </fieldset>
    <center>
      @if (id.invalid && id.touched) {
      <h2 class="form-error">el codigo es requerido</h2>
      }
    </center>
    <fieldset>
      <center>
        <label>Administacion: </label>
        <input type="checkbox" formControlName="administador">
        <label>Guardia: </label>
        <input type="checkbox" formControlName="guardia">
      </center>
    </fieldset>
    <center>
      @if ((administador.touched||guardia.touched) && (administador.value === true && guardia.value=== true || administador.value === false && guardia.value=== false)) {
      <h2 class="form-error">el tipo es requerido</h2>
      }
    </center>
    <fieldset>
      <center>
        <label>Contraseña: </label>
        <input type="text" formControlName="nombre">
      </center>
    </fieldset>
    <center>
      @if (nombre.invalid && nombre.touched) {
      <h2 class="form-error">el nombre es requerido</h2>
      }
    </center>
    <center><button [disabled]="usuario.invalid">enviar datos</button></center>
  </form>

  <center>
    @if (bandUsuario===true) {
    <p>Usuario valido ingrese al <a [routerLink]="bandera">Menu</a></p>
    }@else if (bandUsuario===false) {
    <p>Usuario invalido</p>
    }
  </center>
</body>
