<head>
  <link rel="stylesheet" href="buscar-guardia.component.css">
</head>

<body>
  
    <h2>Buscar Guardia</h2>
  

  <form [formGroup]="guardia" (submit)="buscarGuardia()">
    <fieldset>
        <label>dni de guardia: </label>
        <input type="text" formControlName="dni" >        
    </fieldset>


   <button [disabled]="guardia.invalid">Enviar</button>
  </form>

  <div>
    @if (bandera) {<p>el guardia ingresado no existe </p>}
    @else {<P>nombre: {{service.guardia.data.nombre}}<br>
      apellido: {{service.guardia.data.apellido}}<br>
      dni: {{service.guardia.data.dni}}<br>
      fechaIniContrato: {{service.guardia.data.fechaIniContrato}}<br></P>}
  </div>

  <div>
    
      <nav><a href="menu/guardia">Retorno al Menu de Guardias</a></nav>
    
  </div>
</body>
