<head>
  <link rel="stylesheet" href="buscar-guardia.component.css">
</head>

<body>
  <center>
    <t><h2>Buscar Guardia</h2></t>
  </center>

  <form [formGroup]="guardia" (submit)="buscarGuardia()">
    <fieldset>
      <label>Nombre:</label>
      <input type="text" formControlName="nombre">
    </fieldset>
    <fieldset>
      <label>Codigo de guardia: </label>
      <input type="text" formControlName="cod_guardia">
    </fieldset>
    <fieldset>
      <label>Apellido:</label>
      <input type="text" formControlName="apellido">
    </fieldset>


    <center><button [disabled]="guardia.invalid">Enviar</button></center>
  </form>

  <div>
    @if (bandera) {<p>el guardia ingresado no existe </p>}
    @else {<P>{{service.guardia.title}}</P>}
  </div>

  <div>
    <center>
      <nav><a href="menu/guardia">Retorno al Menu de Guardias</a></nav>
    </center>
  </div>
</body>
