

<body>

  
    <h2>Validar Recluso</h2>
  

  <form [formGroup]="recluso" (submit)="validarRecluso()">
    <fieldset>
      
        <label>Codigo: </label>
        <input type="text" formControlName="cod_recluso">
      
    </fieldset>
    <fieldset>
      
        <label>Dni: </label>
        <input type="text" formControlName="dni">
      
    </fieldset>
    <button>Validar</button>
  </form>

  
    @if (bandRecluso) {
    @for (item of sRecluso.celdas; track $index) {
    <ul>
      <li>
        <p>{{item.id}}</p>
        <p></p>
        <p>{{item.userId}}</p>
      </li>
    </ul>
    }
  

  
    <h2>Validar Celda</h2>
  

  <form [formGroup]="celda" (submit)="validarCelda()">
    <fieldset>
      
        <label>Codigo de celda: </label>
        <input type="text" formControlName="cod_celda">
      
    </fieldset>
    <fieldset>
      
        <label>Codigo de sector: </label>
        <input type="text" formControlName="cod_sector">
      
    </fieldset>
    <button>Enviar</button>
  </form>

  
    @if (bandCelda === false) {<h2 class="form-error">La celda ingresada no existe </h2>}

    }@else if (bandRecluso === false) {
    <h2 class="form-error">El relcuso ingresado no existe </h2>
    }
    @if (bandCelda===true) {<h2 class="true">Los cambios fueron realizados </h2>}
  

  
    <div>
      <nav><a href="menu/recluso">Retorno al Menu de Reclusos</a></nav>
    </div>
  
</body>
