<body class="listado">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover" href="usuario/:menu">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
          </a>
          <p></p>
          <h2>Listado de Administrtadores</h2>
          <div>
            @if (bandera=== true) {
            @for (item of service.usuarios.data; track $index) {
                <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">
                        <h5>
                            codigo del administrador: {{item.cod_administrador}}<br>
                            nombre: {{item.nombre}}<br>
                            apellido: {{item.apellido}}<br>
                        </h5>
                    </li>
                  </ul>
                <p></p>
            }} 
            @if (bandera=== false) {
                <div class="alert alert-primary" role="alert">
                    <p>no hay administrtadores para mostrar </p>
                </div>
            }
            @if (bandera=== undefined ) {
                <div class="alert alert-warning" role="alert">
                    <h4>problema de servidor </h4>
                    
                </div>
            }
        </div>
    </div>    
</body>






