<div>
    <p></p>
    <a href="menu/recluso">ATRAS</a>
    <p></p>
</div>
<div>
    @if (bandera=== true) {
        @for (item of sRecluso.reclusos; track $index) {
            <p>"nombre": {{item.nombre}},
                <br>"apellido": {{item.apellido}}, 
                <br>"dni": {{item.dni}}, 
                <br>"fecha_nac": {{item.fecha_nac}}</p>
        }
    }
    @if (bandera === false) {
        <p>No hay reclusos proximos a liberar</p>
    }
    @if (bandera === undefined) {
        <p> error de conexion con el servidor </p>
    }
</div>
