
<head>
  <link rel="stylesheet" href="menu-guardia.component.css">
</head>

<body>
  
    <H2>Menu de Guardias</H2>

  <div>
    
      

  </div>
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>

  </div>
  <div>
    
      <p>
        <a href="menu/guardia/alta-guardia">Alta guardia</a>
      </p>

  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>

  </div>
  <div>
    
      <p>
        <a href="menu/guardia/buscar-guardia">Buscar Guardia</a>
      </p>

  </div>
  <div>
    
    <p>
      ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
    </p>

</div>
<div>
  
    <p>
      <a href="menu/guardia/finalizar-guarida">Finalizar Contrato de Guardia</a>
    </p>

</div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>

  </div>
  <div>
    
      <p>
        <a href="menu/guardia/mostrar-guardia">Mostrar Guardias</a>
      </p>

  </div>
  <div>
    
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>

  </div>
  <div>
    
     

  </div>

  <div>
    
      <p></p>
      <nav><a href="usuario/menu">Retorno al Menu Principal</a></nav>
      <p></p>

  </div>

</body>
