<head>
  <link rel="stylesheet" href="menu-guardia.component.css">
</head>

<body>
  <center>
    <t><H2>Menu de Guardias</H2></t>
  </center>

  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/guardia/alta-guardia">Alta guardia</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/guardia/buscar-guardia">Buscar Guardia</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/guardia/turnos">Menu Turnos</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/guardia/modificar-guardia">Modificar Guardia</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/guardia/mostrar-guardia">Mostrar Guardias</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>

  <div>
    <center>
      <p></p>
      <nav><a href="usuario/menu">Retorno al Menu Principal</a></nav>
      <p></p>
    </center>
  </div>

</body>
