<head>
  <link rel="stylesheet" href="mostrar-taller.component.css">
</head>

<body>
  <div>
    <p></p>
    <a href="menu/taller">Retorno al Menu de Talleres</a>
    <p></p>
  </div>
  
    <h2>Mostrar todos los Talleres</h2>
  

  
    <div>
      @for (item of service.talleres.data; track $index) {
      <li>
        <p>nombre: {{item.nombre}}<br>descripcion: {{item.descripcion}} <br>locacion: {{item.locacion}}<br>dia de la semana {{item.dia_de_la_semana}}<br>hora inicio: {{item.hora_inicio}}<br>hora de fin: {{item.hora_fin}}</p>
      </li>
      }
    </div>
  
  
</body>
