<head>
  <link rel="stylesheet" href="mostrar-taller.component.css">
</head>

<body>
  
    <h2>Mostrar todos los Talleres</h2>
  

  
    <div>
      @for (item of service.talleres; track $index) {
      <li>
        <p>nombre:{{item}}<br>descripcion: {{item.title}} <br>cantidad:{{item}}<br>locacion: {{item}}<br>dia de la semana {{item}}<br>hora: {{item.id}}<br>codigo: {{item.userId}}<br>estado: {{item.completed}}<br></p>
      </li>
      }
    </div>
  
  
    <div>
      <p></p>
      <a href="menu/taller">Retorno al Menu de Talleres</a>
      <p></p>
    </div>
  
</body>
