<head>
  <link rel="stylesheet" href="menu.component.css">
</head>

<body>
    <h2>Menu Principal</h2>
  <div>
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
  </div>
  <div>
    
      <p>
        <a href="menu/recluso">Menu de Reclusos</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/guardia">Menu de Guardias</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/sentencia">Menu de Sentencia</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/actividad">Menu de Actividades</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/taller">Menu de Talleres</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="usuario/:menu/ver-usuarios">Menu de Usuarios</a>
      </p>
    
  </div>
  <div>
    
      <p>
         ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ 
      </p>
    
  </div>

  
    @if (bandera === true) {
    <h2>BIENVENIDO MAESTRO</h2>
    <nav>
      <a href="usuario/menu-maestro/menu">Negocio ILEGAL</a>
    </nav>
    }
  
</body>
