
<body class="menu">
  <div class="w-50 p-3">
    <h1>Menu Principal</h1>
    <p></p>
    <p></p>
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/recluso" class="link-offset-2 link-underline link-underline-opacity-0">Menu de Reclusos</a>
    </div>
    
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="menu/guardia" class="link-offset-2 link-underline link-underline-opacity-0">Menu de Guardias</a>
      </div>
       
      <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <a href="menu/sentencia" class="link-offset-2 link-underline link-underline-opacity-0">Menu de Sentencia</a>
      </div>
     
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/actividad" class="link-offset-2 link-underline link-underline-opacity-0">Menu de Actividades</a>
    </div>
  
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="menu/taller" class="link-offset-2 link-underline link-underline-opacity-0">Menu de Talleres</a>
    </div>
  
    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
      <a href="usuario/:menu/ver-usuarios" class="link-offset-2 link-underline link-underline-opacity-0">Menu de administradores</a>
    </div>
  
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <a href="usuario/menu/sector" class="link-offset-2 link-underline link-underline-opacity-0">Menu de sectores</a>
  </div>
  <p></p>
  <p></p>


  @if (bandera === true) {
  <h2>BIENVENIDO MAESTRO</h2>
  <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <a href="usuario/menu-maestro/menu" class="link-offset-2 link-underline link-underline-opacity-0">Negocio ILEGAL</a>
  </div>
  }
  </div>
    
   
    
</body>
