<head>
  <link rel="stylesheet" href="menu.component.css">
</head>

<body>
  <center>
    <t><h2>Menu Principal</h2></t>
  </center>

  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/recluso">Menu de Reclusos</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/guardia">Menu de Guardias</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/sentencia">Menu de Sentencia</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/actividad">Menu de Actividades</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/celdas">Menu de Celdas</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/taller">Menu de Talleres</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/usuarios">Menu de Usuarios</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    </center>
  </div>

  <center>
    @if (bandera === true) {
    <t><h2>BIENVENIDO MAESTRO</h2></t>
    <nav>
      <a href="">Negocio ILEGAL</a>
    </nav>
    }
  </center>
</body>
