<h1>ingrese los detalles de la sentencia</h1>
<form [formGroup]="sActual"  (submit)="verFomrulario()" >
    <fieldset>
        <label>nombre</label>
        <input type="text" formControlName="nombre" >        
    </fieldset>
    <fieldset>
        <label> descripcion</label>
        <input type="text" formControlName="descripcion" >        
    </fieldset>
    <fieldset>
        <label>duracion dia</label>
        <input type="text" formControlName="duracion_dia" >        
    </fieldset>
    <fieldset>
        <label>duracion mes </label>
        <input type="text" formControlName="duracion_mes" >        
    </fieldset>
    <fieldset>
        <label>duracion año</label>
        <input type="text" formControlName="duracion_año" >        
    </fieldset>
    <button [disabled]="sActual.invalid">enviar modificacion</button>
</form>
<div>
    <nav><a href="menu/sentencia">ATRAS</a></nav>
</div>


