

<body>

  
    <h2>Menu de Sentencia</h2>
  

  <div>
    
      <p>
        ·
      </p>
    
  </div>
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/sentencia/alta">Dar alta sentencia</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/sentencia/modificar">Modificar sentencia</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/sentencia/sentencias">Mostrar todas las sentencias</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    
  </div>
  <div>
    
      <p>
        ·
      </p>
    
  </div>

  
    <div>
      <p></p>
      <nav><a href="usuario/menu">Retorno al Menu de Usuario</a></nav>
      <p></p>
    </div>
  
</body>
