<head>
  <link rel="stylesheet" href="menu-sentencias.component.css">
</head>

<body>

  <center>
    <t><h2>Menu de Sentencia</h2></t>
  </center>

  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/sentencia/alta">Dar alta sentencia</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/sentencia/modificar">Modificar sentencia</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        <a href="menu/sentencia/sentencias">Mostrar todas las sentencias</a>
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    </center>
  </div>
  <div>
    <center>
      <p>
        ·
      </p>
    </center>
  </div>

  <center>
    <div>
      <p></p>
      <nav><a href="usuario/menu">Retorno al Menu de Usuario</a></nav>
      <p></p>
    </div>
  </center>
</body>
