
<div>
    <p></p>
    <nav>
        <a href="usuario/menu-maestro/menu">ATRAS</a>
    </nav>
    <p></p>
</div>
<div>
    @for (item of service.ilegales.data; track $index) {
        <li>
           <p>nombre:{{item.nombre}}<br>descripcion: {{item.descripcion}} <br>locacion: {{item.locacion}}<br>diaDeLaSemana: {{item.diaDeLaSemana}}<br>horaInicio: {{item.horaInicio}}<br>horaFin: {{item.horaFin}}<br>estado: {{item.estado}}<br>cantidad_maxima: {{item.cantidad_maxima}}</p>
        </li>
    }
</div>
