
<body class="formularioi">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover" href="usuario/menu-maestro/menu">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
          
        <h2>ingrese los datos de la NUEVA actividad</h2>
        <p></p>
        <form [formGroup]="ilegal" (submit)="validarActividad()">
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">nombre</span>
                    <input type="text" formControlName="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">descipcion</span>
                    <input type="text" formControlName="descripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">locacion</span>
                    <input type="text" formControlName="locacion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>      
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">dia de la semana</span>
                    <input type="text" formControlName="diaDeLaSemana" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Cantidad Maxima</span>
                    <input type="text" formControlName="cantidad_maxima" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">horario de inicio</span>
                    <input type="text" formControlName="horaInicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">horario de fin</span>
                    <input type="text" formControlName="horaFin" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>     
            </fieldset>
            
            <button [disabled]="ilegal.invalid" type="button" class="btn btn-dark">enviar</button>
            
            
        </form>
        @if (bandera === 'existente') {
            <div class="alert alert-warning" role="alert">
                <p>actividad ya existente</p>
            </div>
            }
        @if (bandera === 'error') {
            <div class="alert alert-dark" role="alert">
                <p>error al postear</p>
            </div>
            }
        @if (bandera === 'correcto'){
            <div class="alert alert-success" role="alert">
                <p>actividad registrada con exito</p>
            </div>
            }
    </div>
</body>

