

<body class="formulario">
  <div class="w-50 p-3">
    <a class="icon-link icon-link-hover" href="menu/taller">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <h2>Modificar Taller</h2>
  

 
    @for (item of service.talleres.data; track $index) {
      <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">
          <p>nombre: {{item.nombre}}<br>
            descripcion: {{item.descripcion}} <br>
            locacion: {{item.locacion}}<br>
            dia de la semana {{item.dia_de_la_semana}}<br>
            hora inicio: {{item.hora_inicio}}<br>
            hora de fin: {{item.hora_fin}}</p>
        </li>
      </ul>
      <button type="button" class="btn btn-info" (click)="modificarTalller(item)">Modificar</button>
      
    @if (item.inscripcion) {
    <form [formGroup]="taller" (submit)="enviarModificacion(item)">
      <fieldset>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
          <input type="text" formControlName="nombre" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </fieldset>
      <fieldset>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Descripcion</span>
          <input type="text" formControlName="decripcion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </fieldset>
      <fieldset>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Locacion</span>
          <input type="text" formControlName="Locacion" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </fieldset>
      <fieldset>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Dia de la semana</span>
          <input type="text" formControlName="dia_de_la_semana" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </fieldset>
      <fieldset>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Hora de inicio</span>
          <input type="text" formControlName="hora_inicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </fieldset>
      <fieldset>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Hora de finalizacion</span>
          <input type="text" formControlName="hora_fin" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
      </fieldset>
      <fieldset>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" formControlName="estado" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">anular taller</label>
        </div>
        <p></p>
      </fieldset>
      <button type="button" class="btn btn-primary">registrar cambios</button>
    </form>
    @if(bandera == 'modificado'){
      <div class="alert alert-success" role="alert">
        <p></p>
        <p>taller modificado con  exito</p>
        <p></p>
      </div>
    }
    @if(bandera == 'no modificado'){
      <div class="alert alert-danger" role="alert">
        <p></p>
        <p>taller NO modificado/p>
        <p></p>
      </div>
    }
    }
    }
  

  
  
  


  </div>
</body>
