.true{
    color: green;
}

body {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: cursive;
}

t {
  font-family: Verdana;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  outline: none;
}

label {
  line-height: 2.0rem;
}

input[type="submit"] {
  transform: translate(2.0%);
  padding: 3px;
  margin-top: 0.5rem;
  font-family: cursive;
  font-weight: bold;
}

fieldset {
  padding: 20px 40px;
  width: 300px;
  margin: auto;
}
