<div>
    <nav><a href="menu/recluso">ATRAS</a></nav>
</div>
<p></p>
<form [formGroup]="recluso" (submit)="validarRecluso()">
    <fieldset>
        <label>nombre de recluso: </label>
        <input type="text" formControlName="nombreR" >      
    </fieldset>
    <fieldset>
        <label>dni del recluso: </label>
        <input type="text" formControlName="dni" >      
    </fieldset>
    <button>validar recluso</button>
</form>
@if (bandRecluso === true) {
    @for (item of sSentencia.sentencias; track $index) {
        <ul>
            <li>
                <p >nombre sentencia : {{item.name}} || id sentencia: {{item.id}}</p>
                <button (click)="agregarSentencia(item)"  [ngClass]="value">agregar</button>
                <button (click)="quitarSentencia(item)">quitar</button>
            </li>
        </ul>
    }
    @for (item of condena; track $index) {
        <p>sentencia : {{item.name}}</p>
    }
    <button (click)="enviarCondena()">enviar condena</button>
}@else if (bandRecluso === false) {
    <p>El recluso ingresado no existe</p>
}
