<div>
    <nav><a href="menu/recluso">ATRAS</a></nav>
</div>
<form [formGroup]="recluso" (submit)="validarRecluso()">
    <fieldset>
        <label>nombre del recluso: </label>
        <input type="text" formControlName="nombre" >      
    </fieldset>
    <fieldset>
        <label>apellido del recluso: </label>
        <input type="text" formControlName="apellido" >      
    </fieldset>
    <fieldset>
        <label>dni del recluso: </label>
        <input type="text" formControlName="dni" >      
    </fieldset>
    <fieldset>
        <label>fecha: </label>
        <input type="text" formControlName="fecha" >      
    </fieldset>
    <button [disabled]="recluso.invalid">validar recluso</button>
</form>
@if (bandRecluso) {
 @for (item of sSentencia.sentencias; track $index) {
    <p>codigo sentencia: {{item.data.cod_sentencia}} <br> nombre sentencia: {{item.data.nombre}}</p>
    <button >selecionar sentencia</button>
 }
}@else if(bandCelda=== false){
        <p>la celda no existe</p>
    }@else if(bandRecluso===false) {<h1>el recluso ya existe</h1>}

