<body class="menu">
    <div class="w-50 p-3">
         <a class="icon-link icon-link-hover" href="usuario/menu/sector">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        <p></p>



                <div class="container py-4">
        
        <div class="row mb-4">
            <div class="col">
            <h2 class="text-center">Turnos del sector {{sector}}</h2>
            </div>
        </div>

        
        <div class="row">
            
            <div class="col-md-3 mb-3">
                <button class="btn btn-primary w-100" [routerLink]="link">
                    Crear turnos
                </button>
            </div>

           
            <div class="col-md-9">
                    @if (bandera) {
                @for (turno of service.celdas.data; track $index) {
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p>apellido de guardia: {{turno.cod_guardia.apellido}}<br>
                            nombre de guardia: {{turno.cod_guardia.nombre}}<br>
                            codigo de guardia: {{turno.cod_guardia.cod_guardia}}<br>
                            @if(turno.turno == "M"){franja horaria:  mañana}
                            @else if(turno.turno == "T"){franja horaria:  tarde}
                            @else if(turno.turno == "N"){franja horaria:  noche}
                        <p></p>        
                        <button type="button" class="btn btn-danger" (click)="finalizarTurno(turno.cod_guardia,turno.turno)">finalizar turno</button>
                        </li>
                        <p></p>
                    </ul>
                }
            }@else{
                <div class="alert alert-info" role="alert">
                    <h3>No hay turnos disponibles</h3>
                </div>
            }

            </div>
        </div>
        </div>

    </div>
</body>




