<div>
    <nav>
        <p></p>
        <a href="usuario/menu/sector">ATRAS</a>
        <p></p>
    </nav>    
</div>
<div>
    <nav>
        <a href="usuario/menu/sector/t/:sector/crear-turnos"> crear turnos <br></a>
        <a href="usuario/menu/sector/c/:sector/finalizar-turnos"> finalizar turnos</a>
    </nav>
</div>

<h2>Turnos :</h2>


@for (turno of service.celdas.data; track $index) {
    <p></p>
    <p>codigo de guardia: {{turno.cod_guardia_cod_guardia}}<br>codigo de sector: {{turno.cod_sector_cod_sector}}<br>turno: {{turno.turno}}<br>fecha de inicio: {{turno.fecha_ini}}<br>
    @if(turno.fecha_fin == null){<p>turno no terminado</p>}@else {<p>fecha de fin: {{turno.fecha_fin}}</p>}</p>
    <p></p>

}

