<head>
  <link rel="stylesheet" href="buscar-reclusos.component.css">
</head>
<div>
  <nav><a href="menu/recluso">Retorno al Menu de Reclusos</a></nav>
</div>
<body>
  <form [formGroup]="recluso" (submit)="validarRecluso()"> 
    <fieldset>
      
        <label>dni recluso: </label>
        <input type="text" formControlName="dni">
      
    </fieldset>
    <button (click)="validarRecluso()">ENVIAR</button>
  </form>
  <div>
    @if (bandera == true) {
      <p>nombre: {{service.recluso.data.nombre}}<br> apellido: {{service.recluso.data.apellido}}<br> dni: {{service.recluso.data.dni}}<br> fecha de nacimiento: {{service.recluso.data.fecha_nac}}</p>
    }
    @if (bandera == false) {
      <p>recluso no encontrado</p>
    }
  </div>
</body>

