<a href="menu/recluso">ATRAS</a>

<form [formGroup]="recluso" (submit)="validarRecluso()">
    <fieldset>
        <label>codigo de recluso: </label>
        <input type="text" formControlName="cod_recluso" >      
    </fieldset>
    <fieldset>
        <label>nombre del recluso: </label>
        <input type="text" formControlName="nombre" >      
    </fieldset>
    <fieldset>
        <label>apellido del recluso: </label>
        <input type="text" formControlName="apellido" >      
    </fieldset>
    <fieldset>
        <label>dni del recluso: </label>
        <input type="text" formControlName="dni" >      
    </fieldset>
    <button>valudar recluso</button>
</form>
@if (bandera) {<p>
    nombre:{{service.recluso.title}} apellido:{{service.recluso.userId}} title:{{service.recluso.completed}}
</p>}
@if (bandera=== false) {<p>el recluso no existe</p>}
