<head>
  <link rel="stylesheet" href="buscar-reclusos.component.css">
</head>

<body>
  <center>
    <t><h2>Busqueda de Recluso</h2></t>
  </center>
  <form [formGroup]="recluso" (submit)="validarRecluso()">
    <fieldset>
      <center>
        <label>Codigo: </label>
        <input type="text" formControlName="cod_recluso">
      </center>
    </fieldset>
    <fieldset>
      <center>
        <label>Nombre: </label>
        <input type="text" formControlName="nombre">
      </center>
    </fieldset>
    <fieldset>
      <center>
        <label>Apellido: </label>
        <input type="text" formControlName="apellido">
      </center>
    </fieldset>
    <fieldset>
      <center>
        <label>Dni: </label>
        <input type="text" formControlName="dni">
      </center>
    </fieldset>
    <center><button>Validar</button></center>
  </form>
  <center>
    @if (bandera === true) {<p>
      nombre:{{service.recluso.title}} apellido:{{service.recluso.userId}} title:{{service.recluso.completed}}
    </p>}
    @else {<p>el recluso no existe</p>}
  </center>

  <center>
    <a href="menu/recluso">Retorno al Menu de Reclusos</a>
  </center>
</body>
