<body class="listado">
  <div class="w-50 p-3">
    <a class="icon-link icon-link-hover" href="menu/guardia">
      ATRAS
      <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
    </a>
    <p></p>
    <h2>Guardias Activos</h2>
    <p></p>

    @for (item of service.guardias.data; track $index) {
      <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">
          <h5>codigo de guardia: {{item.cod_guardia}}<br>
            nombre: {{item.nombre}}<br>
            apellido: {{item.apellido}}<br>
            dni: {{item.dni}}<br>
          </h5>
        </li>
      </ul>
      <p></p>
      }
  </div>
  

  
  
  

  
    
