
<body class="listadoi">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover" href="usuario/menu-maestro/menu">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        @if (banana) {
            <div>
                @for (item of service.ilegales.data; track $index) {
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">nombre:{{item.nombre}}</li>
                        <li class="list-group-item">descripcion: {{item.descripcion}} </li>
                        <li class="list-group-item">diaDeLaSemana: {{item.diaDeLaSemana}} </li>
                        <li class="list-group-item">horaInicio: {{item.horaInicio}} </li>
                        <li class="list-group-item">horaFin: {{item.horaFin}} </li>
                        <li class="list-group-item">estado: {{item.estado}} </li>
                        <li class="list-group-item">cantidad_maxima: {{item.cantidad_maxima}} </li>
                        <li class="list-group-item">locacion: {{item.locacion}}</li>
                        <button (click)="ingresarIsncripcion(item)" type="button" class="btn btn-secondary">expandir</button>
                    </ul>
                    @if (item.inscripcion) {
                        <p></p>
                        <form [formGroup]="recluso" (submit)="validarRecluso(item)">
                            <fieldset>
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="inputGroup-sizing-default">codigo</span>
                                    <input type="text" formControlName="cod_recluso" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </div>     
                            </fieldset>
                            <button type="button" class="btn btn-dark">inscribir recluso</button>
                        </form>
                        @if (banderaRecluso==='inscripto') {
                            <div class="alert alert-success" role="alert">
                                <p>inscripcion valida</p>
                            </div>
                        }@else if (banderaRecluso==='no inscripto') {
                            <div class="alert alert-primary" role="alert">
                                <p>recluso no encontrado</p>
                            </div>
                        }
                        @else if (banderaRecluso==='existente'){
                            <div class="alert alert-warning" role="alert">
                                <p>recluso ya inscripto</p>
                            </div>
                        }
                        @else if (banderaRecluso==='lleno') {
                            <div class="alert alert-danger" role="alert">
                                <p>no hay cupas para esta actividad</p>
                            </div>
                        }
                        @else if (banderaRecluso==='no encontrada') {
                            <div class="alert alert-dark" role="alert">
                                <p>actividad no encontrada</p>
                            </div>
                        }
                    }
                }
            </div>
        }@else {
            <p></p>
            <div class="alert alert-primary" role="alert">
                <h4> hay actividades disponibles </h4>
            </div>
        }
        
    </div>
</body>
