
<div>
    <p></p>
    <nav>
        <a href="usuario/menu-maestro/menu">ATRAS</a>
    </nav>
    <p></p>
</div>
<body>
    <div>
        @for (item of service.ilegales.data; track $index) {
            <li>
                <p>nombre:{{item.nombre}}<br>descripcion: {{item.descripcion}} <br>locacion: {{item.locacion}}<br>diaDeLaSemana: {{item.diaDeLaSemana}}<br>horaInicio: {{item.horaInicio}}<br>horaFin: {{item.horaFin}}<br>estado: {{item.estado}}<br>cantidad_maxima: {{item.cantidad_maxima}}</p>
               <button (click)="ingresarIsncripcion(item)">inscibirse</button>
            </li>
            @if (item.inscripcion) {
                <p></p>
                <form [formGroup]="recluso" (submit)="validarRecluso(item)">
                    <fieldset>
                        <label>codigo del recluso: </label>
                        <input type="text" formControlName="cod_recluso" >      
                    </fieldset>
                    <p></p>
                    <button>inscribir recluso</button>
                </form>
                @if (banderaRecluso==='inscripto') {
                    <p>inscripcion valida</p>
                }@else if (banderaRecluso==='no inscripto') {<p>recluso no encontrado</p>}
                @else if (banderaRecluso==='existente') {<p>recluso ya inscripto</p>}
                @else if (banderaRecluso==='lleno') {<p>no hay cupas para esta actividad</p>}
            }
        }
    </div>    
</body>
