

<body class="formulario">
    <div class="w-50 p-3">
        <a class="icon-link icon-link-hover" href="usuario/menu/sector/t/:sector">
            ATRAS
            <svg class="bi" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
        </a>
        <p></p>
        <h2>Dar de baja turno</h2>
        <p></p>
        <form [formGroup]="baja_turno" (submit)="darBajaTurno()">
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">codigo de guardia</span>
                    <input type="number" formControlName="cod_guardia" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>        
            </fieldset>
            <fieldset>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">turno</span>
                    <input type="text" formControlName="turno" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>        
            </fieldset>
            <button [disabled]="baja_turno.invalid" type="button" class="btn btn-danger">finalizar</button>
            </form>
            @if (bandera == 'exito') {
                <div class="alert alert-danger" role="alert">
                    <p>el turno fue dado de baja </p>
                </div>
            }
            @if (bandera == 'no turno') {
                <div class="alert alert-warning" role="alert">
                    <p>no existen turnos activos con esas espesificaciones  </p>
                </div>
            }
            @if (bandera == 'no guardia') {
                <div class="alert alert-secondary" role="alert">
                    <p>guardia no encontrado  </p>
                </div>
            }

    </div>    
</body>
