
<body>
    <div>
        <nav>
            <p></p>
            <a href="usuario/menu/sector/t/:sector">ATRAS</a>
            <p></p>
        </nav>    
    </div>
    <h2>crear turnos: </h2>
    <p></p>
    <form [formGroup]="nuevo_turno" (submit)="crearTurno()">
        <fieldset>
            <label>codigo de guardia: </label>
            <input type="text" formControlName="cod_guardia" >        
        </fieldset>
        <fieldset>
            <label>turno: </label>
            <input type="text" formControlName="turno" >        
        </fieldset>
        <button [disabled]="nuevo_turno.invalid"> crear turno</button>
    </form>
    @if(bandera== true){
        <p></p>
        <p> el turno se creo con exito </p>
        <p></p>
    }
    @if(bandera== false){
        <p></p>
        <p> el guardia no esta disponible en ese turno </p>
        <p></p>}
</body>
