<body class="ilegal">
    <div class="w-50 p-3">
       
        <h2 class="tituloi">MENU ACTIVIDAD ILEGAL</h2>
        <p></p>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/alta-actvidad" class="link-offset-2 link-underline link-underline-opacity-0">Dar alta Actividad</a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/modificar-actividad" class="link-offset-2 link-underline link-underline-opacity-0">Modificar Actividad</a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/inscripcion-actividad" class="link-offset-2 link-underline link-underline-opacity-0">Inscribir a una actividad</a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/mostrar-actividad" class="link-offset-2 link-underline link-underline-opacity-0">mostrar actividad</a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro" class="link-offset-2 link-underline link-underline-opacity-0">ATRAS</a>
        </div>
    </div>
</body>
