<body class="ilegal">
    <div class="w-50 p-3">
       
        <h2 class="tituloi">MENU ACTIVIDADES ILEGAL</h2>
        <p></p>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/alta-actvidad" class="link-offset-2 link-underline link-underline-opacity-0"> <h4>Registrar nueva actividad ilegal</h4></a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/modificar-actividad" class="link-offset-2 link-underline link-underline-opacity-0"><h4>Modificar actividades ilegales</h4></a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/inscripcion-actividad" class="link-offset-2 link-underline link-underline-opacity-0"> <h4>Inscripcion a actividades ilegales</h4></a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro/menu/mostrar-actividad" class="link-offset-2 link-underline link-underline-opacity-0"><h4>Mostrar actividades ilegales</h4></a>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <a href="usuario/menu-maestro" class="link-offset-2 link-underline link-underline-opacity-0"><h4>ATRAS</h4></a>
        </div>
    </div>
</body>
