<div>
    <p></p>
    <nav>
        <a href="usuario/menu-maestro">ATRAS</a>
    </nav>
    <p></p>
</div>
<div>
    <nav>
        <a href="usuario/menu-maestro/menu/alta-actvidad">Dar alta Actividad || </a>
        <a href="usuario/menu-maestro/menu/modificar-actividad">Modificar Actividad || </a>
        <a href="usuario/menu-maestro/menu/inscripcion-actividad">Inscribir a una actividad || </a>
        <a href="usuario/menu-maestro/menu/mostrar-actividad">mostrar actividad</a>
    </nav>
</div>
