<head>
  <link rel="stylesheet" href="modificar-guardia.component.css">
</head>

<body>

  <center>
    <t><h2>Verificación</h2></t>
  </center>
  <center>
    <p>(Ingrese el codigo de guardia a modificar)</p>
  </center>
  <form [formGroup]="guardia" (submit)="validarCodigo()">
    <fieldset>
      <label>Codigo de guardia:</label>
      <input type="text" formControlName="cod_guardia">
    </fieldset>
    <center><button [disabled]="guardia.invalid">Enviar</button></center>
  </form>

  @if (guardia.disabled || encontrado === true) {
  <form [formGroup]="guardia" (submit)="enviarModificacion()">
    <fieldset>
      <label>Nombre:</label>
      <input type="text" formControlName="nombre">
    </fieldset>
    <fieldset>
      <label>Apellido:</label>
      <input type="text" formControlName="apellido">
    </fieldset>
    <center><button [disabled]="guardia.invalid">Enviar</button></center>
  </form>
  }

  <div>
    <center>
      <nav><a href="menu/guardia">Retorno al Menu de Guardias</a></nav>
    </center>
</div>
</body>
