<head>
  <link rel="stylesheet" href="menu-actividad.component.css">
</head>
<body>
  <div>
    
      <h2>Menu de Actividades</h2>
    
  </div>
  <div>
    
      <p>
        ·
      </p>
    
  </div>
  <div>
    
      <p>
        ╔ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╗
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/actividad/alta-actividad">Dar de alta una Actividad</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/actividad/modificar-actividad">Modificar Actividad</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╠ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╣
      </p>
    
  </div>
  <div>
    
      <p>
        <a href="menu/actividad/mostrar-actividad"> Mostrar todas las Actividades</a>
      </p>
    
  </div>
  <div>
    
      <p>
        ╚ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ═ ╝
      </p>
    
  </div>
  <div>
    
      <p>
        ·
      </p>
    
  </div>
  
    <div>
      <nav><a href="usuario/menu">Retorno al Menu Principal</a></nav>
      <p></p>
    </div>
  
</body>
